<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/css; charset=utf-8">
        <title>Архив всех статей</title>
        <link rel="stylesheet" href="{% static "styles.css" %}" type="text/css">
    </head>
    <body class="archive">
        <header>       
            <div class="header">
                <div class="logo-img">
                    <img src="{% static "img/arch-logo.png" %}" class="logo" alt="logo"/>
                </div>
        </header>
                <div>
                    {% for post in posts %}  
                    <div class="one-post"> 
                        <div class="one-post-shadow"></div>
                            <h2 class="post-title"><a href={{post.id}}>{{post.title}}</a> </h2>
                        
                        <div class="article-info">        
                            <div class="article-author">{{ post.author.username }}</div>
                            <div class="article-created-date">{{ post.created_date }}</div>
                        </div>    
                        
                        <p class="article-text">{{ post.get_excerpt }}</p>

                    </div>   
                    {% endfor %}
                </div>

        <footer>
            <div class="footer">
                <div class="about-author">
                    <p class="author-name">Алкадарский Г.М.</p>
                    <p class="author-group">БСТ1703</p>
                </div>
                
                <div class="contacts">
                    <a href="https://vk.com/qu1e_t" target="_blank"><img src="{% static "img/vk26.png" %}" alt="" class="vkontakte"></a>
                    <a href="https://github.com/qu1et" target="_blank"><img src="{% static "img/git26.png" %}" alt=""></a>
                </div>
            </div>
        </footer>

    </body>
</html>