<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Регистрация</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    </head>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <body class="log-sign-add">
        <div class="content">
            <h1>Регистрация</h1>
            <form method="post" class="signup-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Sign up</button>
            </form>
        </form>
         </div>
    </body>
</html>