html {
    height: 100%;
}

.log-sign-add {
    background: linear-gradient(45deg, #00A8C5,#FFFF7E);
    background-repeat: no-repeat;
}

.article,
.archive {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #fff;
}

.logo {
    display: block;
    width: 318px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.one-post {
    padding-left: 100px;
    padding-top: 30px;
}

footer {
    display: none;
}

a {
    color: #d1df19;
    text-decoration: none;
    font-weight: bold;
}

.article-author {
    width: 50%;
    float: left;
}
