body 
    {   
        background: rgb(43, 202, 43);
        font-family: Tahoma, 'Times New Roman', Times, serif, sans-serif;
        color: rgb(2, 2, 2);
    }
    table 
    {
        border-collapse: collapse;
        width: 100%;
        
    
    }
    img
    {
        width: 200px;
        height: 200px;
        
    }
    p, h4 
        {
         font-size: 14px;
         margin-bottom: 0;
        }
    ul, ol 
        {
         margin: 0
        }
    table tr td 
        {
         padding: 5px;
         text-align: center;
        }